@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Imperial Script";
  src: url("/fonts/ImperialScript-Regular.ttf");
}

@font-face {
  font-family: "Source4 L italic";
  src: url("/fonts/SourceSerif4_36pt-LightItalic.ttf");
}

@font-face {
  font-family: "Hate Your Writing";
  src: url("/fonts/HateYourWriting.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-script: "Imperial Script", cursive;
  --font-sans: "Source Serif Pro", sans;
  --font-italicL: "Source4 L italic", sans;
  --font-HateYourWriting: "Hate Your Writing", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans); /* Pastikan variabel digunakan di sini */
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar {
  height: 0;
}
